# Configuration file

general {
    B:AllowSpawnerBoxPickup=false
    I:AmbientLightingLevel=15
    I:AtomicDisassemblerEnergyUsage=10
    B:BlacklistBuildCraftPower=false
    B:BlacklistIC2Power=false
    B:BlacklistRFPower=false
    I:ClientUpdateDelay=10
    B:ControlCircuitOreDict=true
    I:CopperPerChunk=0
    B:CreativeOverrideElectricChest=true
    B:DynamicTankEasterEgg=false
    D:EUToJoules=0.25
    B:EnableAmbientLighting=false
    B:EnableSounds=true
    B:EnableWorldRegeneration=false
    D:EnergyPerRedstone=4000.0
    S:EnergyType=RF
    I:EthyleneBurnTime=40
    B:FancyUniversalCableRender=true
    B:Holidays=true

    # THIS DETERMINES ELECTROLYTIC SEPARATOR USAGE
    D:HydrogenEnergyDensity=200.0
    D:JoulesToEU=4.0
    D:JoulesToMJ=10.0
    D:JoulesToRF=1.0
    B:LogPackets=false
    D:MJToJoules=0.1
    B:MachineEffects=true
    I:ObsidianTNTBlastRadius=12
    I:ObsidianTNTDelay=100
    I:OsmiumPerChunk=0
    D:RFToJoules=1.0

    # Millibuckets of water turned into brine by the plant per tick
    D:SalinationPlantSpeed=40.0
    I:SaltPerChunk=2
    D:SoundVolume=1.0
    I:TinPerChunk=0
    B:UpdateNotifications=false
    I:UpgradeModifier=10
    I:VoicePort=36123
    B:VoiceServerEnabled=false
    I:WorldRegenVersion=0
}


generation {
    D:AdvancedSolarGeneration=250.0
    D:BioGeneration=50.0
    D:HeatGeneration=80.0
    D:HeatGenerationLava=5.0
    D:HeatGenerationNether=30.0
    D:SolarGeneration=40.0
    D:WindGenerationMax=56.0
    I:WindGenerationMaxY=255
    D:WindGenerationMin=8.0
    I:WindGenerationMinY=64
}


tools {

    general {
        D:MobArmorSpawnRate=0.035
    }

    tool-balance {

        obsidian {

            regular {
                I:damage=10
                D:efficiency=20.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=2500
            }

            paxel {
                I:damage=10
                D:efficiency=25.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=3000
            }

        }

        lapis {

            regular {
                I:damage=2
                D:efficiency=5.0
                I:enchantability=22
                I:harvestLevel=2
                I:maxUses=200
            }

            paxel {
                I:damage=4
                D:efficiency=6.0
                I:enchantability=50
                I:harvestLevel=2
                I:maxUses=250
            }

        }

        osmium {

            regular {
                I:damage=4
                D:efficiency=10.0
                I:enchantability=30
                I:harvestLevel=2
                I:maxUses=500
            }

            paxel {
                I:damage=5
                D:efficiency=12.0
                I:enchantability=40
                I:harvestLevel=3
                I:maxUses=700
            }

        }

        bronze {

            regular {
                I:damage=6
                D:efficiency=14.0
                I:enchantability=100
                I:harvestLevel=2
                I:maxUses=800
            }

            paxel {
                I:damage=10
                D:efficiency=16.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=1100
            }

        }

        glowstone {

            regular {
                I:damage=5
                D:efficiency=14.0
                I:enchantability=80
                I:harvestLevel=2
                I:maxUses=300
            }

            paxel {
                I:damage=5
                D:efficiency=18.0
                I:enchantability=100
                I:harvestLevel=2
                I:maxUses=450
            }

        }

        steel {

            regular {
                I:damage=4
                D:efficiency=14.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=850
            }

            paxel {
                I:damage=8
                D:efficiency=18.0
                I:enchantability=100
                I:harvestLevel=3
                I:maxUses=1250
            }

        }

    }

    armor-balance {

        obsidian {
            I:durability=50
            I:enchantability=50

            protection {
                I:chest=12
                I:feet=5
                I:head=5
                I:legs=8
            }

        }

        lapis {
            I:durability=13
            I:enchantability=50

            protection {
                I:chest=5
                I:feet=2
                I:head=2
                I:legs=6
            }

        }

        osmium {
            I:durability=30
            I:enchantability=50

            protection {
                I:chest=5
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

        bronze {
            I:durability=35
            I:enchantability=50

            protection {
                I:chest=6
                I:feet=2
                I:head=3
                I:legs=5
            }

        }

        glowstone {
            I:durability=18
            I:enchantability=50

            protection {
                I:chest=7
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

        steel {
            I:durability=40
            I:enchantability=50

            protection {
                I:chest=7
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

    }

}


usage {
    D:ChemicalCrystallizerUsage=240.0
    D:ChemicalDissolutionChamberUsage=180.0
    D:ChemicalInfuserUsage=80.0
    D:ChemicalInjectionChamberUsage=180.0
    D:ChemicalWasherUsage=80.0
    D:CombinerUsage=20.0
    D:CrusherUsage=20.0
    D:DigitalMinerUsage=60.0
    D:ElectricPumpUsage=40.0
    D:EnergizedSmelterUsage=10.0
    D:EnrichmentChamberUsage=20.0
    D:FactoryUsage=60.0
    D:FluidicPlenisherUsage=40.0
    D:MetallurgicInfuserUsage=20.0
    D:OsmiumCompressorUsage=40.0
    D:OxidationChamberUsage=80.0
    D:PrecisionSawmillUsage=5.0
    D:PressurizedReactionBaseUsage=2.0
    D:PurificationChamberUsage=80.0
    D:RotaryCondensentratorUsage=20.0
    D:SeismicVibratorUsage=20.0
}


